{% extends 'index.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div>
    <form method="post" action="{% url 'update' %}">
        <fieldset>
            {% csrf_token %}
            <legend>Personal Information</legend>
            <div class="form-group">
                <input type="text" name="role" value="mentor" hidden>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" placeholder="Disabled input"
                    value="{{ request.user.username }}" disabled>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" placeholder="Disabled input"
                    value="{{ request.user.email }}" disabled>
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input name="first_name" type="text" id="first_name" class="form-control" placeholder="First Name"
                    value="{{ request.user.first_name }}">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input name="last_name" type="text" id="last_name" class="form-control" placeholder="Last Name"
                    value="{{ request.user.last_name }}">
            </div>
            <!-- <div class="form-group">
                <label for="disabledSelect">Disabled select menu</label>
                <select id="disabledSelect" class="form-control">
                  <option>Disabled select</option>
                </select>
              </div> -->
            <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div> -->
            <button type="submit" class="btn btn-primary">Update</button>
        </fieldset>
    </form>
</div>
<div>
    <br>
    <legend>Research Areas</legend>
    {% if researches %}
    {% for research in researches %}
    <div class="row" style="border-top: 1px solid gray; border-bottom: 1px solid gray;">
        <div class="col-8 col-md-8 research_{{research.id}}">
            <p style="font-weight: bolder;">{{ research.research.research_area }}</p>
            <p>{{ research.details }}</p>
        </div>
        <div class="col-4 col-md-4 research_{{research.id}}" style="padding-top: 12px;">
            <a href="{% url 'delete_research_area' %}?research_id={{research.id}}" class="btn btn-danger"><i class="bx bx-trash"></i></a>
            <button href="" class="btn btn-info" onclick="open_form({{research.id}})"><i class="bx bx-edit"></i></button>
        </div>
    </div>
    <form method="post" action="{% url 'update_research_area' %}" id="research_{{research.id}}_form" class="research_form">
        <fieldset>
            {% csrf_token %}

            <div class="form-group">
                <label for="research_area">Research Area</label>
                <select id="research_area" class="form-control" name="research_area" disabled>
                    <option disabled>--Select--</option>
                    {% for res in research_areas %}
                    <option value="{{ res.id }}" {% if res.id == research.research.id %} selected {% endif %}>{{ res.research_area }}</option>
                    {% endfor %}
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <input name="research_details_id" type="text" value="{{research.id}}" hidden/>

            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea name="details" class="form-control" id="details" rows="3">{{research.details}}</textarea>

            </div>
            <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div> -->
            <button type="submit" class="btn btn-primary">Update</button>
            <button class="btn btn-danger" type="reset" onclick="close_form({{research.id}})">Cancel</button>
        </fieldset>
    </form>
    {% endfor %}
    {% else %}
    <p>Please add your research areas...</p>
    {% endif %}
    <br>
    <br>
    <form method="post" action="{% url 'add_research_area' %}">
        <fieldset>
            {% csrf_token %}
            <legend>Research Details</legend>

            <div class="form-group">
                <label for="research_area">Research Area</label>
                <select id="research_area" class="form-control" name="research_area">
                    <option disabled selected>--Select--</option>
                    {% for research in research_areas %}
                    <option value="{{ research.id }}">{{ research.research_area }}</option>
                    {% endfor %}
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <!-- <label for="details">Details</label> -->
                <input id="other" name="other" class="form-control" type="text" placeholder="Enter Research Area..."/>

            </div>
            <div class="form-group">
                <label for="details">Details</label>
                <textarea name="details" class="form-control" id="details" rows="3"></textarea>

            </div>
            <!-- <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div> -->
            <button type="submit" class="btn btn-primary">Add</button>
        </fieldset>
    </form>
    <!-- <button class="btn btn-primary">Add</button> -->
<br><br>
</div>
<script>
    $("#other").hide()
    $(".research_form").hide()
    $("#research_area").on("change", (e) => {
        var research_area= $("#research_area").val()
        if(research_area == "other"){
            $("#other").show()
        }
        else{
            $("#other").hide()
        }
    })
    function open_form(id){
        console.log(id)
        $(".research_"+id).hide()
        $("#research_"+id+"_form").show()
    }
    function close_form(id){
        $(".research_"+id).show()
        $("#research_"+id+"_form").hide()
    }
</script>
{% endblock %}