{% extends 'index.html' %}

{% block title %} Pending Request {% endblock %}

{% block content %}
<div>
    <legend>Mentees</legend>
    {% if mentorships %}
    {% for mentorship in mentorships %}
    <div class="row" style="border-top: 1px solid gray; border-bottom: 1px solid gray; padding-top:2px">
        <div class="col-12 col-md-4 text-center" style="margin: auto;">
            {% if mentorship.mentee.first_name %}
            {{mentorship.mentee.user.first_name}} {{mentorship.mentee.user.last_name}}
            {% else %}
            {{ mentorship.mentee.user.username }}
            {% endif %}
        </div>
        <div class="col-12 col-md-8 text-center" style="margin: auto;">
            <p style="text-decoration: solid;">{{ mentorship.research.research.research_area }}</p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No Mentees....</p>
    {% endif %}
    {% endblock %}
</div>