{% extends 'index.html' %}

{% block title %} Mentorships {% endblock %}

{% block content %}
<div>
    <legend>Mentorships</legend>
    <form method="get" action="{% url 'get_mentorships' %}">
        <fieldset>
            <div class="form-group">
                <input type="text" name="role" value="{{role}}" hidden>
            </div>
            <label for="status">Status</label>
            <select id="status" class="form-control" name="status">
                <!-- <option disabled selected>--Select--</option> -->
                {% for s in statuses %}
                <option value="{{s.key}}" {% if s.selected %} selected {% endif %}>{{s.val}}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
    </form>
    <br>
    {% for mentorship in mentorships %}
    <div class="row" style="border-top: 1px solid gray; border-bottom: 1px solid gray; padding-top:2px">
        <div class="col-12 col-md-2 text-center" style="margin: auto;">
            <a href="{% url 'get_tasks' %}?mentorship_id={{mentorship.id}}&role={{role}}">
                {% if mentorship.mentor.first_name %}
                {{mentorship.mentor.user.first_name}} {{mentorship.mentor.user.last_name}} 
                {% else %}
                {{ mentorship.mentor.user.username }}
                {% endif %}
            </a>
        </div>
        <div class="col-12 col-md-8">
            Running Tasks:
            {% if mentorship.tasks %}
            <ul>
                {% for task in mentorship.tasks %}
                <li>{{task.title}} (Deadline: {{task.end_time}})</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>
                No running  tasks
            </p>
            {% endif %}
            Upcoming Meeting:
            {% if mentorship.meetings %}
                <ul>
                    {% for meeting in mentorship.meetings %}
                    <li>{{meeting.title}} (<a href="{{meeting.link}}">{{meeting.link}}</a>)</li>
                    {% endfor %}
                </ul>
            {% else %}
            <p>
                No upcoming meetings
            </p>
            {% endif %}

        </div>
        <div class="col-12 col-md-2 text-center" style="margin:auto;">
                <!-- <input type="text" name="research_detail_id" id="" hidden value="{{research.id}}"/> -->
                <!-- <input type="text" name="status" id="change_status" hidden/> -->
                {% if role == 'mentee' %}
                <a href="{% url 'change_mentorship_status' %}?status=5&mentorship_id={{mentorship.id}}" class="btn btn-danger"><i class="bx bx-x nav_icon"></i></a>
                {% else %}
                <a href="{% url 'change_mentorship_status' %}?status=6&mentorship_id={{mentorship.id}}" class="btn btn-primary" title="Complete"><i class="bx bx-check nav_icon"></i></a>
                <a href="{% url 'change_mentorship_status' %}?status=4&mentorship_id={{mentorship.id}}" class="btn btn-danger" title="Cancel"><i class="bx bx-x nav_icon"></i></a>
                {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}